################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SociétéProtectriceDesAnimaux
/SociétéProtectriceDesAnimaux/obj
/SociétéProtectriceDesAnimaux.Business/obj
/SociétéProtectriceDesAnimaux.Entities/obj
/SociétéProtectriceDesAnimaux.Repository/obj
