################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/SociétéProtectriceDesAnimaux
/SociétéProtectriceDesAnimaux/obj
/SociétéProtectriceDesAnimaux.Business/obj
/SociétéProtectriceDesAnimaux.Entities/obj
/SociétéProtectriceDesAnimaux.Repository/obj
/SociétéProtectriceDesAnimaux/bin/Debug/netcoreapp3.1
/SociétéProtectriceDesAnimaux.Business/bin/Debug/netcoreapp3.1
/SociétéProtectriceDesAnimaux.Entities/bin/Debug/netcoreapp3.1
/SociétéProtectriceDesAnimaux.Repository/bin/Debug/netcoreapp3.1
